.version.index /* version checker */
{
	color: #00001E;
	background-color: #32F623;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 2871px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	padding-bottom: 229px;
	width: 0.01px;
}

#u1593-3
{
	z-index: 158;
	min-height: 71px;
	background-color: #FFFFFF;
}

#u1593-3-bw
{
	z-index: 158;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
}

#accordionu1678
{
	z-index: 162;
	width: 176px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 0px;
	left: 0px;
}

#u1683
{
	z-index: 163;
	width: 176px;
	background-color: transparent;
	position: relative;
}

#u1686-6
{
	z-index: 164;
	width: 166px;
	min-height: 46px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 12px;
	font-size: 12px;
	color: #000000;
	position: relative;
}

#u1686-6:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 46px;
	width: 166px;
	margin: 0px;
}

#u1686-6:active
{
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 46px;
	width: 166px;
	margin: 0px;
}

#u1686-6.AccordionPanelTabOpen
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 46px;
	width: 166px;
	margin: 0px;
}

#u1686-6.AccordionPanelTabOpen p,#u1686-6.AccordionPanelTabOpen span
{
	font-size: 12px;
}

#u1686
{
	font-size: 1px;
	line-height: 0px;
}

#u1718
{
	margin-top: 1px;
	margin-bottom: -1px;
}

#u1713
{
	z-index: 170;
	width: 66px;
	background-color: transparent;
}

#u1713_img
{
	vertical-align: bottom;
}

#u1684
{
	z-index: 173;
	width: 176px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 7px;
	position: relative;
}

#menuu1755
{
	z-index: 174;
	width: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 11px;
}

#u1763
{
	width: 150px;
	background-color: transparent;
	position: relative;
}

#u1764
{
	width: 150px;
	background-color: transparent;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u1764:hover
{
	width: 150px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1765-4
{
	width: 150px;
	min-height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 28px;
	text-align: left;
	font-size: 23px;
	color: #000000;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u1764:hover #u1765-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u1764:hover #u1765-4 p
{
	color: #BF22D7;
	visibility: inherit;
}

#u1778
{
	width: 150px;
	background-color: transparent;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u1781-4
{
	width: 150px;
	min-height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 28px;
	text-align: left;
	font-size: 23px;
	color: #000000;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u1764.MuseMenuActive #u1765-4,#u1778:hover #u1781-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u1778:hover #u1781-4 p
{
	color: #BF22D7;
	visibility: inherit;
}

#u1759
{
	width: 150px;
	background-color: transparent;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u1760-4
{
	width: 150px;
	min-height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 28px;
	text-align: left;
	font-size: 23px;
	color: #000000;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u1778.MuseMenuActive #u1781-4,#u1759:hover #u1760-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u1759:hover #u1760-4 p
{
	color: #BF22D7;
	visibility: inherit;
}

#u1777,#u1756,#u1770
{
	width: 150px;
	background-color: transparent;
	margin-top: 2px;
	position: relative;
}

#u1773
{
	width: 150px;
	background-color: transparent;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u1764.MuseMenuActive,#u1778.MuseMenuActive,#u1759.MuseMenuActive,#u1773.MuseMenuActive
{
	width: 150px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1776-4
{
	width: 150px;
	min-height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 28px;
	text-align: left;
	font-size: 23px;
	color: #000000;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u1759.MuseMenuActive #u1760-4,#u1773:hover #u1776-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u1773.MuseMenuActive #u1776-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u1773:hover #u1776-4 p
{
	color: #BF22D7;
	visibility: inherit;
}

#u1764.MuseMenuActive #u1765-4 p,#u1778.MuseMenuActive #u1781-4 p,#u1759.MuseMenuActive #u1760-4 p,#u1773.MuseMenuActive #u1776-4 p
{
	color: #1163CE;
	visibility: inherit;
}

#home
{
	position: relative;
}

#u1720
{
	z-index: 199;
	width: 37px;
	background-color: transparent;
	position: fixed;
	top: 14px;
	left: 318px;
}

#u1720_img
{
	padding: 1px 2px 2px 1px;
}

#pu1637
{
	width: 0.01px;
	margin-top: 53px;
}

#u1637
{
	z-index: 146;
	height: 588px;
	border-color: #000000;
	background: #FFFFFF url("../../images/original_science.jpg") no-repeat center center;
	background-size: cover;
}

#u1637:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 0px;
	height: 588px;
	min-height: 0px;
	margin: 0px;
	background-size: cover;
}

#u1637-bw
{
	z-index: 146;
	height: 588px;
}

#u1638
{
	z-index: 147;
	min-height: 209px;
	background-color: #FFFFFF;
	padding-bottom: 209px;
}

#u1639
{
	z-index: 148;
	width: 256px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -48px;
	left: 62px;
}

#u1638-bw
{
	z-index: 147;
	min-height: 209px;
	margin-top: 75px;
}

#u1642-8
{
	z-index: 150;
	width: 360px;
	min-height: 93px;
	background-color: transparent;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 269px;
	left: 10px;
}

#u1642-2
{
	font-size: 40px;
	line-height: 68px;
}

#u1642-4
{
	font-size: 18px;
	line-height: 31px;
}

#u1642-6
{
	font-size: 11px;
	line-height: 19px;
}

#pu1784-4
{
	width: 0.01px;
	margin-top: 40px;
}

#u1784-4
{
	z-index: 102;
	min-height: 60px;
	background-color: transparent;
	line-height: 58px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
}

#u1784-4-bw
{
	z-index: 102;
	min-height: 60px;
}

#projects
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 1px;
}

#pamphletu1905
{
	z-index: 106;
	width: 0.01px;
	height: 532px;
	margin-left: 11px;
	margin-top: 41px;
	position: relative;
}

#u1910
{
	position: absolute;
	width: 361px;
	background-color: transparent;
	padding-bottom: 1px;
}

#u1910popup
{
	z-index: 107;
}

#u1921
{
	z-index: 108;
	width: 360px;
	height: 516px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u1921:hover
{
	border-style: none;
	border-color: transparent;
	border-radius: 0px;
	width: 360px;
	height: 516px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu1952
{
	z-index: 109;
	width: 307px;
	border-color: #787878;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 22.350000000000023px;
	position: relative;
	margin-right: -10000px;
	left: 26px;
}

#u1953
{
	z-index: 110;
	width: 307px;
	height: 221px;
	border-color: #000000;
	border-radius: 8px;
	position: relative;
	background: transparent url("../../images/voronoi.jpg") no-repeat center center;
}

#u1955-4
{
	z-index: 111;
	width: 307px;
	min-height: 41px;
	background-color: transparent;
	line-height: 36px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	margin-top: 20px;
	position: relative;
}

#buttonu1952:hover #u1955-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 41px;
	width: 307px;
	margin: 20px 0px 0px;
}

#buttonu1952:hover #u1955-4 p
{
	color: #000000;
	visibility: inherit;
}

#u1954-4
{
	z-index: 115;
	width: 307px;
	min-height: 93px;
	background-color: transparent;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	margin-top: 14px;
	position: relative;
}

#u1916
{
	z-index: 119;
	width: 360px;
	height: 516px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#buttonu1956
{
	z-index: 120;
	width: 307px;
	border-color: #787878;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 25px;
}

#buttonu1956_position_content
{
	padding-bottom: 22px;
}

#u1958
{
	z-index: 121;
	width: 307px;
	height: 221px;
	border-color: #000000;
	border-radius: 8px;
	position: relative;
	background: transparent url("../../images/outreach.jpg") no-repeat center center;
}

#u1957-4
{
	z-index: 126;
	width: 307px;
	min-height: 41px;
	background-color: transparent;
	line-height: 36px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	margin-top: 20px;
	position: relative;
}

#buttonu1952.ButtonSelected #u1955-4,#buttonu1956:hover #u1957-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 41px;
	width: 307px;
	margin: 20px 0px 0px;
}

#buttonu1952.ButtonSelected #u1955-4 p,#buttonu1956:hover #u1957-4 p
{
	color: #000000;
	visibility: inherit;
}

#u1959-4
{
	z-index: 122;
	width: 307px;
	min-height: 93px;
	background-color: transparent;
	margin-top: 14px;
	position: relative;
}

#u1911
{
	z-index: 130;
	width: 360px;
	height: 516px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#buttonu1948
{
	z-index: 131;
	width: 307px;
	border-color: #787878;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 22.350000000000023px;
	position: relative;
	margin-right: -10000px;
	left: 26px;
}

#buttonu1952.ButtonSelected,#buttonu1956.ButtonSelected,#buttonu1948.ButtonSelected
{
	width: 307px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1951
{
	z-index: 132;
	width: 307px;
	height: 221px;
	border-color: #000000;
	border-radius: 8px;
	position: relative;
	background: transparent url("../../images/mw0b7_mw0b7_q1rp0p1e1i0contourf_disk_star1_xn15to15_yn15to15_mass_potcenter_noaxes_215.jpg") no-repeat center center;
}

#buttonu1952.ButtonSelected #u1953,#buttonu1956.ButtonSelected #u1958,#buttonu1948.ButtonSelected #u1951
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 307px;
	height: 221px;
	min-height: 0px;
	margin: 0px;
}

#u1949-4
{
	z-index: 137;
	width: 307px;
	min-height: 41px;
	background-color: transparent;
	line-height: 36px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	margin-top: 20px;
	position: relative;
}

#buttonu1956.ButtonSelected #u1957-4,#buttonu1948:hover #u1949-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 41px;
	width: 307px;
	margin: 20px 0px 0px;
}

#buttonu1948.ButtonSelected #u1949-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 41px;
	width: 307px;
	margin: 20px 0px 0px;
}

#buttonu1956.ButtonSelected #u1957-4 p,#buttonu1948:hover #u1949-4 p
{
	color: #000000;
	visibility: inherit;
}

#buttonu1948.ButtonSelected #u1949-4 p
{
	color: #000000;
	visibility: inherit;
}

#u1950-4
{
	z-index: 133;
	width: 307px;
	min-height: 93px;
	background-color: transparent;
	margin-top: 14px;
	position: relative;
}

#buttonu1952.ButtonSelected #u1954-4,#buttonu1956.ButtonSelected #u1959-4,#buttonu1948.ButtonSelected #u1950-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 93px;
	width: 307px;
	margin: 14px 0px 0px;
}

#u1926
{
	z-index: 141;
	width: 124px;
	position: relative;
	margin-right: -10000px;
	margin-top: 516px;
	left: 117px;
}

#u1929
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	border-radius: 10px;
	left: 55px;
}

#u1929:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #BF22D7;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u1929.PamphletThumbSelected
{
	background-color: #1163CE;
	border-radius: 10px;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u1927
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	border-radius: 10px;
	left: 108px;
}

#u1927:hover
{
	background-color: #BF22D7;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u1928
{
	position: absolute;
	width: 16px;
	height: 16px;
	background-color: #000000;
	border-radius: 10px;
}

#u1928:hover
{
	border-color: #000000;
	background-color: #BF22D7;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u1927.PamphletThumbSelected,#u1928.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: #1163CE;
	border-radius: 10px;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

.MenuItem,.AccordionPanelTab,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#pu1961-4
{
	width: 0.01px;
	margin-top: 69px;
}

#u1961-4
{
	z-index: 52;
	min-height: 63px;
	background-color: transparent;
	line-height: 58px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
}

#u1961-4-bw
{
	z-index: 52;
	min-height: 63px;
}

#accordionu1964
{
	z-index: 57;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u1965
{
	z-index: 58;
	background-color: transparent;
}

#u1966-10
{
	z-index: 59;
	min-height: 60px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 20px;
	font-size: 20px;
	color: #000000;
}

#u1966-10:hover
{
	background-color: transparent;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 60px;
	margin: 0px;
}

#u1966-10:active
{
	background-color: transparent;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 60px;
	margin: 0px;
}

#u1966-10:hover p,#u1966-10:hover span,#u1966-10:hover a,#u1966-10:active p,#u1966-10:active span,#u1966-10:active a
{
	color: #BF22D7;
	visibility: inherit;
	padding-left: 0px;
	text-indent: 0px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#u1967
{
	z-index: 69;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 9px;
}

#u1970-4
{
	z-index: 70;
	width: 361px;
	min-height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
	font-size: 12px;
	color: #000000;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 8px;
}

#u1977
{
	z-index: 74;
	background-color: transparent;
}

#u1978-8
{
	z-index: 75;
	min-height: 40px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 20px;
	font-size: 20px;
	color: #000000;
}

#u1978-8:hover
{
	background-color: transparent;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 40px;
	margin: 0px;
}

#u1978-8:active
{
	background-color: transparent;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 40px;
	margin: 0px;
}

#u1978-8.AccordionPanelTabOpen
{
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 40px;
	margin: 0px;
}

#u1978-8:hover p,#u1978-8:hover span,#u1978-8:hover a,#u1978-8:active p,#u1978-8:active span,#u1978-8:active a
{
	color: #BF22D7;
	visibility: inherit;
	padding-left: 0px;
	text-indent: 0px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#u1979
{
	z-index: 83;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 12px;
}

#u1982-4
{
	z-index: 84;
	width: 362px;
	min-height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
	font-size: 12px;
	color: #000000;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 8px;
}

#u1971
{
	z-index: 88;
	background-color: transparent;
}

#u1972-8
{
	z-index: 89;
	min-height: 60px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 20px;
	font-size: 20px;
	color: #000000;
}

#u1972-8:hover
{
	background-color: transparent;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 60px;
	margin: 0px;
}

#u1972-8:active
{
	background-color: transparent;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 60px;
	margin: 0px;
}

#u1966-10.AccordionPanelTabOpen,#u1972-8.AccordionPanelTabOpen
{
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 60px;
	margin: 0px;
}

#u1972-8:hover p,#u1972-8:hover span,#u1972-8:hover a,#u1972-8:active p,#u1972-8:active span,#u1972-8:active a
{
	color: #BF22D7;
	visibility: inherit;
	padding-left: 0px;
	text-indent: 0px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#u1966-10.AccordionPanelTabOpen p,#u1966-10.AccordionPanelTabOpen span,#u1966-10.AccordionPanelTabOpen a,#u1978-8.AccordionPanelTabOpen p,#u1978-8.AccordionPanelTabOpen span,#u1978-8.AccordionPanelTabOpen a,#u1972-8.AccordionPanelTabOpen p,#u1972-8.AccordionPanelTabOpen span,#u1972-8.AccordionPanelTabOpen a
{
	color: #1163CE;
	visibility: inherit;
	font-size: 20px;
	padding-left: 0px;
	text-indent: 0px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#u1966,#u1978,#u1972
{
	font-weight: bold;
}

#u1973
{
	z-index: 97;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 14px;
}

#u1974-4
{
	z-index: 98;
	width: 360px;
	min-height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
	font-size: 12px;
	color: #000000;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 9px;
}

#accordionu1964-bw
{
	z-index: 57;
	margin-top: 33px;
}

#pu2023-4
{
	width: 0.01px;
	margin-top: 62px;
}

#u2023-4
{
	z-index: 2;
	min-height: 60px;
	background-color: transparent;
	line-height: 58px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
}

#u2023-4-bw
{
	z-index: 2;
	min-height: 60px;
}

#publications,#contact
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
}

#widgetu2025
{
	z-index: 7;
	width: 0.01px;
	height: 443px;
	left: -1px;
	margin-top: 39px;
	position: relative;
}

#widgetu2027
{
	z-index: 8;
	width: 173px;
	height: 60px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 11px;
}

#u2030-4
{
	z-index: 9;
	width: 157px;
	min-height: 44px;
	border-width: 2px;
	border-style: solid;
	border-color: #1163CE;
	background-color: #FFFFFF;
	padding: 6px;
	line-height: 42px;
	color: #C4C4C4;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
}

.html,#widgetu2027.non-empty-st #u2030-4
{
	background-color: #FFFFFF;
}

#widgetu2027:hover #u2030-4
{
	border-color: #BF22D7;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 44px;
	width: 157px;
	margin: 0px -10000px 0px 0px;
}

#widgetu2027.focus-st #u2030-4
{
	border-color: #BF22D7;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 44px;
	width: 157px;
	margin: 0px -10000px 0px 0px;
}

#widgetu2027.non-empty-st #u2030-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2027:hover #u2030-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2027.focus-st #u2030-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2035
{
	z-index: 13;
	width: 173px;
	height: 60px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 197px;
}

#widgetu2027.fld-err-st,#widgetu2035.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 173px;
	height: 60px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2038-4
{
	z-index: 14;
	width: 157px;
	min-height: 44px;
	border-width: 2px;
	border-style: solid;
	border-color: #1163CE;
	background-color: #FFFFFF;
	padding: 6px;
	line-height: 42px;
	color: #C4C4C4;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#widgetu2035.non-empty-st #u2038-4
{
	background-color: #FFFFFF;
}

#widgetu2035:hover #u2038-4
{
	border-color: #BF22D7;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 44px;
	width: 157px;
	margin: 0px -10000px 0px 0px;
}

#widgetu2035.focus-st #u2038-4
{
	border-color: #BF22D7;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 44px;
	width: 157px;
	margin: 0px -10000px 0px 0px;
}

#widgetu2027.fld-err-st #u2030-4,#widgetu2035.fld-err-st #u2038-4
{
	border-color: #D7244C;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 44px;
	width: 157px;
	margin: 0px -10000px 0px 0px;
}

#widgetu2035.non-empty-st #u2038-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2035:hover #u2038-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2035.focus-st #u2038-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2027_input,#widgetu2027_prompt,#widgetu2035_input,#widgetu2035_prompt
{
	width: 157px;
	min-height: 44px;
	color: #C4C4C4;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	padding: 6px;
}

#u2041-4
{
	z-index: 18;
	width: 381px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	font-family: nova-mono, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 418px;
}

#widgetu2025.frm-sub-st #u2041-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-style: normal;
}

#u2040-4
{
	z-index: 22;
	width: 381px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	color: #FF0000;
	font-family: nova-mono, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 418px;
}

#widgetu2025.frm-subm-err-st #u2040-4 p
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-style: normal;
}

#u2039-4
{
	z-index: 26;
	width: 381px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	font-size: 12px;
	color: #00FF00;
	font-family: nova-mono, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 418px;
}

#widgetu2025.frm-sub-st #u2041-4,#widgetu2025.frm-subm-err-st #u2040-4,#widgetu2025.frm-subm-ok-st #u2039-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu2025.frm-subm-ok-st #u2039-4 p
{
	color: #1163CE;
	font-size: 14px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-style: normal;
}

#u2026-17
{
	z-index: 30;
	min-height: 49px;
	width: 209px;
	position: relative;
	margin-right: -10000px;
	margin-top: 354px;
	left: 86px;
	background: url("../../images/u2026-17.png") no-repeat 0px 0px;
}

#u2026-17:hover
{
	background: url("../../images/u2026-17-r.png") no-repeat 0px 0px;
}

#u2026-17:active
{
	background: url("../../images/u2026-17-m.png") no-repeat 0px 0px;
}

#widgetu2025.frm-sub-st #u2026-17
{
	background: url("../../images/u2026-17-fs.png") no-repeat 0px 0px;
}

#widgetu2031
{
	z-index: 47;
	width: 360px;
	height: 266px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 74px;
	left: 11px;
}

#widgetu2031.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 360px;
	height: 266px;
	min-height: 0px;
	margin: 74px -10000px 0px 0px;
}

#u2033-4
{
	z-index: 48;
	width: 344px;
	min-height: 250px;
	border-width: 2px;
	border-style: solid;
	border-color: #1163CE;
	background-color: #FFFFFF;
	padding: 6px;
	line-height: 42px;
	color: #C4C4C4;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#widgetu2031.non-empty-st #u2033-4
{
	background-color: #FFFFFF;
}

#widgetu2031:hover #u2033-4
{
	border-color: #BF22D7;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 250px;
	width: 344px;
	margin: 0px -10000px 0px 0px;
}

#widgetu2031.focus-st #u2033-4
{
	border-color: #BF22D7;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 250px;
	width: 344px;
	margin: 0px -10000px 0px 0px;
}

#widgetu2031.fld-err-st #u2033-4
{
	border-color: #D7244C;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 250px;
	width: 344px;
	margin: 0px -10000px 0px 0px;
}

#widgetu2031.non-empty-st #u2033-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2031:hover #u2033-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2031.focus-st #u2033-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2027.fld-err-st #u2030-4 *,#widgetu2035.fld-err-st #u2038-4 *,#widgetu2031.fld-err-st #u2033-4 *
{
	color: #D7244C;
	font-style: normal;
}

#widgetu2031_input,#widgetu2031_prompt
{
	width: 344px;
	min-height: 250px;
	color: #C4C4C4;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	padding: 6px;
}

#widgetu2027:hover #widgetu2027_input,#widgetu2027.focus-st #widgetu2027_input,#widgetu2027.fld-err-st #widgetu2027_input,#widgetu2027:hover #widgetu2027_prompt,#widgetu2027.focus-st #widgetu2027_prompt,#widgetu2027.fld-err-st #widgetu2027_prompt,#widgetu2035:hover #widgetu2035_input,#widgetu2035.focus-st #widgetu2035_input,#widgetu2035.fld-err-st #widgetu2035_input,#widgetu2035:hover #widgetu2035_prompt,#widgetu2035.focus-st #widgetu2035_prompt,#widgetu2035.fld-err-st #widgetu2035_prompt,#widgetu2031:hover #widgetu2031_input,#widgetu2031.focus-st #widgetu2031_input,#widgetu2031.fld-err-st #widgetu2031_input,#widgetu2031:hover #widgetu2031_prompt,#widgetu2031.focus-st #widgetu2031_prompt,#widgetu2031.fld-err-st #widgetu2031_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu2027.non-empty-st #widgetu2027_prompt,#widgetu2035.non-empty-st #widgetu2035_prompt,#widgetu2031.non-empty-st #widgetu2031_prompt
{
	visibility: hidden;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

